@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
body {
    background-color: black;
    height: 99vh;
    width: 98vw;
    overflow-x: hidden;
    overflow-y: visible;
    transition: all 2s ease;
}
.main-container {
    height: 100%;
}

.socialLinks {
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:599px){
    .socialLinks {
        padding-left: 3vw;
    }
}

#social1 #social2 #social3 #social4{
    font-size: x-large;
    transition: all 0.5s ease;
    
}
#social1:hover {
    font-weight: 800;
    transition: all 0.5s ease;
       
}
#social2:hover {
    font-weight: 800;
    transition: all 0.5s ease;
    
    
}
#social3:hover {
    font-weight: 800;
    transition: all 0.5s ease;
    
    
}
#social4:hover {
    font-weight: 800;
    transition: all 0.5s ease;
    
    
}
div {
    padding: 0;
    margin: 0;
    display: inline
}
a {
    text-decoration: none;
    color:black;
    transition: all 0.5s ease;
} 

.a-dark{
    color: white;
    transition: all 0.5s ease;
}



h2 {
    font-size: 1rem;
    margin: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;
}
h2:hover {
    font-weight: 800;
    transform: translateY(10px);
    transition: all 0.5s ease;
}

@media (max-width: 599px){
    h2 {
        font-size: 0.9rem;
    }
    #social1 #social2 #social3 #social4{
    font-size: small;
    transition: all 0.5s ease;
    
}
}
ul{
    
}
.body-dark {
    background-color: white;
    transition: all 2s ease;
    
}

.div1 {
    background-color: white;
    height: 47.5%;
    width: 98%;
    font-family: 'Zen Antique', serif;
    padding-right: 2vw;
    transition: all 2s ease;
    display: flex;
    
    align-items:flex-end;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
}

.div1 img {
    border-radius: 5px;
    max-width: 250px;
    
}


@media (max-width: 599px){
    .div1 {
        align-items: center;
        height: 47.5%;
        
    }
  
}


.div1-dark {
    background-color: black;
    color: white;
    transition: all 2s ease;
}


.div2 {
    background-color: white;
    height: 48%;
    width: vw;
    font-family: 'Zen Antique', serif;
    padding-top: 3%;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: all 2s ease;
    
}

@media (max-width:599px){
    .div2{
    justify-content: center;
    align-items: center;
    width: 96vw;
    height: 47.5%;
    }
    .work{
        font-size: 0.9rem;
        padding-bottom: 2%;

        
    }
}
.div2-dark {
    background-color: black;
    color: white;
    transition: all 2s ease;
}

.profile-pic {
    height: 80%;
}
h3 {
    font-size: 1rem;
}
p {
    font-size: 1rem;
}

@media (max-width:599px){
    .profile-pic {
        height: 67%;
    }
    h3 {
        font-size: 0.9rem;

    }
    p {
        font-size: 0.9rem;
    }
    
}

.scroll-bar {
    border: 1px solid black;
    height: 2%;
    background-color: white;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    
}

.scroll-bar-dark {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.scroll-bar h1{
    font-size: xx-small;
    text-transform:uppercase;
    position: absolute;
    text-align: center;
    justify-content: center;
    
    display: inline-block;
    white-space: nowrap;
    animation: floatText 500s infinite linear;
    padding-left: 100%; /*Initial offset*/
    
  
  }
  @media (max-width:599px){
      .scroll-bar h1{
          margin-top: 2px;
      }
  }
  
  
  @keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }

  /* Toggle Button */
.toggleBtn {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	
}
/* To create surface of toggle button */
.toggleBtn:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: black;
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.toggleBtn:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.toggleBtn:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.toggleBtn:checked:after {
	background: white;
}
/* Transition for smoothness */
.toggleBtn,
.toggleBtn:before,
.toggleBtn:after,
.toggleBtn:checked:before,
.toggleBtn:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

@media (max-width:599px){
.padding-left {
    margin-left: 60vw;
}
}